body {
    background: url(Fundoreal.jpg);
}

.containerzinho{
    font-weight: 900;
    font-size: 28px;
}

.container{
    width: 600px;
    box-shadow: 1px white;
    color: white;
    padding: 50px;
    border: 1px solid #000;
    text-align: center;
    box-sizing: border-box white;
    padding: 10px;
}
.container2{
    width: 600px;
    box-shadow: 1px white;
    color: white;
    padding: 50px;
    border: 1px solid #000;
    text-align: center;
    box-sizing: border-box white;
    padding: 10px;
   
}

.sobre{
    font-weight: bolder;
}

